@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  transition: transform 0.3s ease-in-out;
}

html{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    background: rgb(229 231 235);
	height: 100%;

}

body {
    background: rgb(229 231 235);
	height: auto;
} 

::-webkit-scrollbar {
    cursor: pointer;
    width: 8px;
}

::-webkit-scrollbar-track{
    cursor: pointer;
    background: rgb(229 231 235);
}

::-webkit-scrollbar-thumb{
    background: rgb(156 163 175);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}